body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
   
}
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s;
    border: none;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgb(211, 16, 169);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #855858;
}
.card-img-top {
    height: 300px;
    width: 100%;
 
}


.hero{
    background-color: #000;
    padding: 30px;
    text-align: center;
    color: #ff69b4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

